{% macro getClasses(context) %}

<div class="column is-10" style="margin-left: 50px">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-11 card" style="height: 600px;">
        <div class="tile is-vertical notification " style="border: 1px solid black; overflow-y: scroll;">
            <div class="columns is-12">
                <div class="column is-3" style="margin: 5px; text-align: center;">
                    <p>Class Name</p>
                </div>
                <div class="column"  style="margin: 5px; text-align: center;">
                    <p>Class Code</p>
                </div>
                <div class="column" style="margin: 5px; text-align: center;">
                    <p>Tutor</p>
                </div>
                <div class="column is-4" style="margin: 5px; text-align: center;">
                    <p >Department</p>
                </div>
                <div class="column" style="margin: 5px">
                    <p >Review Points</p>
                </div>
            </div>
          {% for nclass in class_list %}
            <div class="columns is-12", style="border: 1px solid black; border-radius: 10px; margin: 10px">
                <div class="column is-3" style="padding: 10px">
                    <a class="button" href="{{ url_for("class_page", class_code=nclass.class_code) }}/" style="width: 100%; height: 100%">{{nclass.class_name}}</a>
                </div>
                <div class="column"  style="margin: 5px; text-align: center;">
                    <p >{{nclass.class_code}}</p>
                </div>
                <div class="column" style="margin: 5px; text-align: center;">
                    <p >{{db.get_user_with_id(nclass.tutor).username}}</p>
                </div>
                <div class="column is-4" style="margin: 5px; text-align: center;">
                    <p >{{db.get_departments(db.get_user_with_id(nclass.tutor).department).department_name}}</p>
                </div>
                <div class="column" style="margin: 5px; text-align: center;">
                    <p >{{nclass.review_points}}</p>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>


{% endmacro %}