{% macro getVideos(context) %}
<script src="../../static/js/class.js"></script>
<div class="column is-10" style="margin-left: 50px">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-11 card" style="height: 600px;">
            <div class="tile is-vertical notification " style="border: 1px solid black; overflow-y: scroll;">
                <div class="tile columns is-vertical is-12" style="padding:10px">
                    <div class="tile column" style="justify-content: center; border: 1px solid black; border-radius: 10px; padding:10px;margin: 10px;">
                        <b><p>{{ nclass.class_context }}</p></b>
                    </div>
                    <div class="tile column" style="display: flex; flex-wrap: wrap;">
                    {% for video in video_list%}
                        <div class="card" style="flex: 0 0 48%; padding:10px;margin: 6px;">
                            <a class="play card-image" href="/classes/{{ nclass.class_code }}/video/{{video.video_code}}">
                                <figure class="video-image">
                                  <img src="../../{{video.thumbnail_path}}" alt="Placeholder image">
                                </figure>
                            </a>
                            <div class="card-content" style="padding-left: 5px;">
                                {{video.video_name}}
                                <div class="star_id{{ video.video_code }}" style="margin-top:10px">

                                </div>
                                <script>
                                    setStars({{ video.review_points }},"{{ video.video_code }}")
                                </script>
                                {% if user.account_type != "Student" %}
                                <hr>
                                <a class="button" href="{{ url_for('update_video_page', class_code=nclass.class_code, video_code=video.video_code) }}" >Update Video</a>
                                <a class="button" href="{{ url_for('delete_video', class_code=nclass.class_code, video_code=video.video_code) }}" style="color:red">Delete Video</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>


{% endmacro %}