{% macro classInfo(context) %}
<script src="../../static/js/classsearch.js"></script>
<div class="column is-2 container">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-12 card" style="height: 600px;">
        <div class="tile is-child" style="padding-left: 10px; padding-right: 10px;">
            <h1 style="padding-top:10px; text-align:center; font-size:x-large;">{{ nclass.class_name }}</h1>
            <br>
            <div style="text-align:start; font-size:x-large;">Tutor</div>
            <article class="media" style="padding-top: 10px; ">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img style="border-radius: 50%;" src="../../{{tutor.profileimage}}">
                  </p>
                </figure>
                <div class="media-content" style="padding-left: 10px; font-size: 15px">
                  <div>
                    <b>{{ tutor.username }}</b>
                  </div>
                  <div>
                      {% if tutor.title != None %}
                        {{ tutor.title }}
                      {% endif %}
                  </div>
                </div>
              </article>
              <hr>
              <div class="classInfo">
                <div>
                    <b>Class Code</b> : {{ nclass.class_code }}
                </div>
                <div>
                    <b>Department</b> : {{ tutor.department }}
                </div>
                  <hr>
                  <div>
                      <b><a class="button">Add Students To Class</a></b>
                  </div>
                  <hr>
                  <div>
                      <b><a class="button">List All Students</a></b>
                  </div>
              </div>
        </div>
      </div>
    </div>   
  </div>
{% endmacro %}