{% macro getVideos(context) %}
<script src="../../static/js/class.js"></script>
<div class="column is-10" style="margin-left: 50px">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-11 card" style="height: 600px;">
            <div class="tile is-vertical notification " style="border: 1px solid black; overflow-y: scroll;">
                <div class="columns is-12" style="display: flex; flex-wrap: wrap; padding:10px">
                    {% for video in videoList%}
                        <div class="card" style="flex: 0 0 24%; padding:10px;margin: 6px;">
                            <a class="play card-image" href="/classes/{{classCode}}/{{video.video_code}}">
                                <figure class="video-image image is-3by2">
                                  <img src="{{video.thumbnail}}" alt="Placeholder image">
                                </figure>
                            </a>
                            <div class="card-content" style="padding-left: 5px;">
                                {{video.video_name}}
                                <div class="star-{{review_point}}">

                                </div>
                                <script type="text/javascript">
                                    place_stars("{{video.review_point}}");
                                </script> 
                            </div>
                        </div>
                    {% endfor %}
                </div>   
            </div>
        </div>
    </div>
</div>


{% endmacro %}