{% macro navbar(context) %}
<nav class="navbar card" style="align-items: center" role="navigation" aria-label="main navigation">
    <a href="#">
      <img class="logo" src="../../../../static/mini_logo.png" width="224" height="82" style="margin: 10px">
    </a>
    <div id="custom-navbar" class="navbar-menu" style="align-items: center">

      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for("tutor_list") }}">
          Tutors
        </a>
        <a class="navbar-item" href="{{ url_for("all_classes_page") }}">
          Classes
        </a>  
      </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            <div class="navbar-center">
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                    <div class="{{ category }} class-item" style="border-radius:10px; padding-left: 50px; padding-right: 50px; color:black">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}

            </div>
        {% endwith %}
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item" href="{{url_for('profile_page', user=user.username)}}">
            {{user.username}}
          </a>
          <a class="navbar-item" href="{{ url_for('log_out') }}">
            Log Out
          </a>
        </div>
      </div>
    </div>
</nav>
{% endmacro %}