{% macro profilebanner(context) %}
<div class="column is-2 container">
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-12 card" style="height: 600px;">
        <div class="tile is-child">
          <div>
            <img class="profile-image" src="../../../{{user.profileimage}}"/>
          </div>
          <p class="title is-5 text-center" style="margin-top: 20px;">{{user.username}}</p>
          <hr>
          <div class="profile-menu">
                {% if user.account_type == "admin" %}
                    <a class="button text-center" href="{{url_for('admin_users_page')}}">
                        All Users
                    </a>
                    <a class="button text-center" href="{{url_for('admin_panel_page')}}">
                        Admin Panel
                    </a>
                {% elif user.account_type == "Student" %}
                    <a class="button text-center">
                        My Classes
                    </a>
                    <a class="button text-center">
                        My Comments
                    </a>
                {% else %}
                    <a class="button text-center" href="{{ url_for('tutor_classes_page',user=user.username) }}">
                        My Classes
                    </a>
                    <a class="button text-center" href="{{ url_for('create_class_page',info="False") }}">
                        Create Class
                    </a>
                    <a class="button text-center" href="{{ url_for('upload_video_page',user=user.username) }}">
                        Upload Videos
                    </a>
                {% endif %}
          </div>
        </div>
      </div>
    </div>   
  </div>
{% endmacro %}