{% macro createClass(context) %}

<div class="column is-10" style="margin-left: 50px">
    <div class="tile is-ancestor" style="height:600px;">
      <div class="tile is-parent is-11 card" style="height:100%;">

          <form action="" method="POST" style="width:100%;" class="form" name="classcreate">
              {{ form.csrf_token }}
              <div class="tile is-vertical notification" style="height:100%; align-items:center; justify-content:center; border: 1px solid black;">
                  <label class="title">
                    Create New Class
                  </label>
                  <div style="align-items:center; justify-content:center;">
                      <label class="label" style="padding: 10px">
                          Class Department
                          {{ form.department(require=True, autofocus=False) }}
                      </label>
                      <label class="label" style="padding: 10px">
                          Class Name
                          {{ form.class_name(require=True, autofocus=False) }}
                      </label>
                      <label class="label" style="padding: 10px">
                          Class Capacity
                          {{ form.class_capacity(require=True, autofocus=False) }}
                      </label>
                      <label class="label" style="padding: 10px">
                          Class Code
                          {{ form.class_code(require=True, autofocus=False) }}
                      </label>
                      <label class="label" style="padding: 10px">
                          Class Context
                          <br>
                          {{ form.class_context(autofocus=False) }}
                      </label>
                  </div>
                  {{ form.create_button(require=True, autofocus=False, class="button") }}
              </div>
          </form>
      </div>
    </div>
</div>


{% endmacro %}