html{
   
    background: url("./background.jpg");
    background-size: 100%;
}

html::after{
    content: "";
    background: rgb(0,69,124,200);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;         
}

body::-webkit-scrollbar{
    display: none;
}

.form-field{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    top: 62%;
    left: 50%;
    background-color:rgba(255,255,255,0.6);
    border-radius: 20px;
}

.create-form-field{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    top: 64%;
    left: 50%;
    background-color:rgba(255,255,255,0.6);
    border-radius: 20px;
}

.form{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input{
    border: none;
    width: 250px;
    height: 40px;
    padding: 10px;
    background-color: rgb(0,69,124,0.5);
    color: black;
    font-size: medium;
    font-weight: 500;
}

.logo{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 400px;
    top: 25%;
    left: 50%;
    user-select: none;
}

.alert {
    position: absolute;
    transform: translate(-50%,0%);
    left:50%;
    top:0%;
    width: 30%;
    margin-top: 5px; 
    border-radius: 10px;
}

.alert-error {
    background-color: red;
    color: whitesmoke;
    text-align: center;
}

.alert-info {
    background-color: yellow;
    color: black;
    text-align: center;
}