{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/auth.css" />
{% endblock %}
{% block title %}Create Account{% endblock %}
{% block content %}


{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}">Error: {{ message }}</div>
{% endfor %}
<div class="logo">
    <img src="./static/logo_transparent.png">
</div>
<div class="create-form-field">
    <form action="" method="POST" class="form" name="accountcreate">
        {{ form.csrf_token }}
        <div class="columns">
            <div class="column">
                <label title="Username">
                    Username
                    <br>
                    {{form.username(require=True, autofocus=False)}}
                </label>
                <label title="ID">
                    <br>
                    ID Number
                    <br>
                    <!--<input type="number" name="id-number" min="0" max="999999999">-->
                    {{form.id_number(require=True, autofocus=False)}}
                </label>
                <label title="Password">
                    <br>
                    Password
                    <br>
                    <!--<input type="password" name="password">-->
                    {{form.password(require=True, autofocus=False)}}
                </label>
                <label title="mail">
                    <br>
                    School Mail
                    <br>
                    <!--<input type="mail" name="mail">-->
                    {{form.mail(require=True, autofocus=False)}}
                </label>
            </div>
            
            <br/>
            <div class="column">
                <div class="field">
                    <label class="label">Account Type</label>
                    <div class="control">
                        <div class="select">
                            {{form.account_type(require=True, autofocus=False)}}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Gender</label>
                    <div class="control">
                    <div class="select">
                        {{form.gender(require=True, autofocus=False)}}
                    </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Department</label>
                    <div class="control">
                    <div class="select">
                        {{form.department(require=True, autofocus=False)}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="button" type="submit">Sign Up</button>
    </form>
    
</div>


{% endblock %}