{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/auth.css" />
    
{% endblock %}
{% block title %} Welcome to ITUBE {% endblock %}
{% block content %}

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}">{{category.capitalize()}}: {{ message }}</div>
{% endfor %}
<div class="logo">
    <br/>
    <br/>
    <img src="./static/logo_transparent.png">
</div>

<div class="form-field">
    <form action="" method="POST" class="form">
        {{ form.csrf_token }}
        <label title="Username">
            Username
            <br>
            {{form.username(required=true, autofocus=False)}}
        </label>
        <label title="Password">
            <br>
            Password
            <br>
            {{form.password(required=true, autofocus=False)}}
        </label>
        <br/>

        <div id="wrapper">
            {{form.loginbutton(autofocus=False, class="button", id="left" ,style="margin-bottom:5px")}}
            <a class="button" id="right" href="{{url_for('account_create_page')}}" style="width:100%; margin-top:5px"> Create Account! </a>
        </div>
    </form>
</div>
{% endblock %}