{% from "./macros/classpageinfo.html" import classInfo with context %}
{% from "./macros/classpagevideos.html" import getVideos with context %}
{% extends "layout.html" %}

{% block css %}

<link rel="stylesheet" href="../../static/profile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
<link rel="stylesheet" href="../static/classpage.css"/>
<script src="../../../../static/js/class.js"></script>

{% endblock %}
{% block title %} {{ nclass.class_code }} {% endblock %}
{% block content %}


{{navbar(user)}}

<div class="columns is-12 " style="margin-left: 30px; margin-top: 10px; padding: 0px;">
{{ classInfo() }}
{{ getVideos(nclass) }}
</div>

{% endblock %}