{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/profile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
{% endblock %}
{% block title %}Profile Page{% endblock %}
{% block content %}

<nav class="navbar card" role="navigation" aria-label="main navigation">
    <a href="#">
      <img class="logo" src="../static/mini_logo.png" width="224" height="82" style="margin: 10px">
    </a>
    <div id="custom-navbar" class="navbar-menu">

      <div class="navbar-start">
        <a class="navbar-item">
          Tutors
        </a>
        <a class="navbar-item">
          Classes
        </a>  
        <a class="navbar-item">
          Tutors
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item" href="{{url_for('profile_page', user=user.username)}}">
            {{user.username}}
          </a>
          <a class="navbar-item">
            Log Out
          </a>
        </div>
      </div>
    </div>
</nav>

<div class="columns is-12 " style="margin-left: 30px; margin-top: 10px; padding: 0px;">
  
  {% if user.account_type == "admin" %}
  Admin
  {% elif user.account_type == "student" %}
  {{profilebanner(user)}}
  {{studentprofilemain(user)}}
  {% else %}
  Tutor
  {% endif %}
</div>

{% endblock %}