{% extends "layout.html" %}
{% block css %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="../../static/profile.css">
    <link rel="stylesheet" href="../../static/video.css">
    <script src="https://cdn.plyr.io/2.0.15/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.15/plyr.css">

{% endblock %}
{% block title %}{{user.username}}'s Profile{% endblock %}
{% block content %}

{{navbar(user)}}

<div style=" margin: 0px;">
    <div class="column is-12">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-12 card" style="height: 600px;">
                <div class="tile is-vertical notification " style="margin:2px;border: 1px solid black;">
                    <div class="tile is-parent columns is-12" style="padding:0px">
                        <div class="tile column is-vertical">
                            <div style="width:90%; position: relative; transform: translate(-50%,0%); left: 50%;">
                                <video id="plyr-video" poster="/path/to/video-poster.png" controls>
                                    <source src="../../static/videos/deneme.mp4" type="video/mp4">
                                    <script>
                                        plyr.setup("#plyr-video");
                                    </script>
                                </video>
                            </div>
                            <article class="media" style="padding-top: 10px;">
                                <figure class="media-left">
                                  <p class="image is-64x64">
                                    <img src="../../{{user.profileimage}}">
                                  </p>
                                </figure>
                                <div class="media-content">
                                  <div class="content">
                                    <p>
                                      <strong>{{user.username}}</strong>
                                      <br>
                                      In this lecture we learned some shit
                                    </p>
                                  </div>
                              </article>
                        </div>   
                        <div class="tile is-4" style="overflow-y:scroll ;margin-left: 10px;border: 1px green solid; display: flex; flex-wrap: wrap; margin-bottom: 10px;">
                            Hello
                        </div>   
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/video.js"></script>
{% endblock %}