{% extends "layout.html" %}
{% block css %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="../../../../static/profile.css">
    <link rel="stylesheet" href="../../../../static/video.css">
    <script src="../../../../static/js/class.js"></script>
    <script src="https://cdn.plyr.io/2.0.15/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/2.0.15/plyr.css">

{% endblock %}
{% block title %}{{user.username}}'s Profile{% endblock %}
{% block content %}

{{navbar(user)}}

<div style=" margin: 0px;">
<form form action="" method="post" >
{{ form.csrf_token }}
    <div class="column is-12">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-12 card" style="height: 600px;">
                <div class="tile is-vertical notification " style="margin:2px;border: 1px solid black;">
                    <div class="tile is-parent columns is-12" style="padding:0px">
                        <div class="tile column is-vertical">
                            <div style="position: relative; transform: translate(-50%,0%); left: 50%;">
                                <video id="plyr-video" poster="../../../.{{ video.thumbnail_path }}" style="max-height: 450px" controls>
                                    <source src="../../../.{{ video.video_path }}" type="video/mp4">
                                    <script>
                                        plyr.setup("#plyr-video");
                                    </script>
                                </video>
                            </div>
                            <article class="media is-12" style="padding-top: 10px;">
                                <figure class="media-left">
                                  <p class="image is-64x64">
                                    <img style="border:1px; border-radius: 50%" src="../../../.{{ tutor.profileimage }}">
                                  </p>
                                </figure>
                                <div class="media-content" >
                                  <div class="content">
                                    <p>
                                      <strong>{{ tutor.username }}</strong>
                                      <br>
                                      {{ video.video_descriptions }}
                                    </p>
                                  </div>
                                </div>
                                <label class="label">
                                    Give a Review Point:
                                    <div>
                                        {{ form.review_points(onChange="this.form.submit()", style="width:100%" )}}
                                    </div>
                                </label>
                                <div style="margin-left: 10px; margin-right: 10px" class="review_points">
                                    Review Points: {{ video.review_points }}
                                    <div class="star_id">

                                    </div>
                                </div>
                                <script>
                                    setStars({{ video.review_points }},"","radio")
                                </script>
                            </article>
                        </div>
                        <div class="tile columns is-vertical is-4" style="padding-top: 10px">
                            {% if video.comments_available != true %}
                                <div class="tile column" id="scrollbar" style="max-height: 55vh; overflow-y: scroll ;margin-left: 10px;border: 1px black solid; border-radius: 5px; display: flex; flex-wrap: wrap;">
                                    Tutor does not allow any comments.
                                </div>
                                <div class="column tile" id="scrollbar" style="margin-top:10px; max-height: 17vh; margin-left: 10px;border: 1px #000000 solid; border-radius: 5px; margin-bottom: 10px;">
                                    {{ form.comment(style="margin-top:5px", disable=true) }}
                                    {{ form.send_comment(class="button", style="position:relative; bottom: 0px", disable=true) }}
                                </div>
                            {% else %}
                            <div class="tile column" id="scrollbar" style="max-height: 55vh; overflow-y: scroll ;margin-left: 10px;border: 1px black solid; border-radius: 5px; display: flex; flex-wrap: wrap;">
                            {% for comment in comment_list %}
                                <div class="columns is-12" style="width:100%; border: 1px solid black; border-radius: 10px; margin: 10px">
                                    <article class="media" style="padding:10px">
                                        <figure class="media-left">
                                            <p class="image is-64x64" >
                                                <img style="border:1px; border-radius: 50%" src="../../../{{comment.profileimage}}">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <strong>{{ comment.user_id }}</strong>
                                                    {% if comment.account_type != "Student" %}
                                                        <strong>{{"<" + comment.account_type  + ">"}}</strong>
                                                    {% endif %}
                                                <br>
                                                {{ comment.comment_context }}
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="column tile" id="scrollbar" style="margin-top:10px; max-height: 17vh; margin-left: 10px;border: 1px #000000 solid; border-radius: 5px; margin-bottom: 10px;">


                                    {{ form.comment(style="margin-top:5px" ) }}
                                    {{ form.send_comment(class="button", style="position:relative; bottom: 0px") }}

                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}